---
---

<footer>
	<p>&copy; 2026 focused. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0;
	}
</style>
